#app-container {
   font-family: $base-font;
   font-size: $md-font-size;
   font-weight: $base-font-weight;
   color: $dark;
   background: $accent-3;
   
   // @include lg {
   //    box-shadow: 0 0 720px 0px inset rgba($dark, $alpha: .2);
   // }

   #app-bg {
      position: fixed;
      width: 100%;
      height: 100svh;
      margin-top: $navbar-height;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: start;
      color: rgba($accent-2, $alpha: .70);
      text-shadow: none;
      text-wrap: nowrap;
      font-size: 13em;

      h1 {
         position: relative;
         top: -25%;
         padding: 0;
         margin: 0;
         height: 0;

         &:nth-child(1) {
            transform: translateX(-10%);
         }

         &:nth-child(2) {
            transform: translateX(-30%);
         }

         &:nth-child(3) {
            transform: translateX(-40%);
         }

         &:nth-child(4) {
            transform: translateX(-0%);
         }
      }
   }

   main, footer {
      position: relative;
      text-shadow: 4px 14px 15px $dark;
      line-height: $line-height;
      letter-spacing: $letter-spacing;
      background: transparent;
      padding: 0px 15px;

      .section-title {
         color: $accent-1;
         font-size: $xl-font-size;
         font-weight: 400;
         margin-bottom: $md-spacing;
         text-align: center;
         user-select: none;
      }

      .heading {
         color: $light;
         text-align: center;
         font-size: $lg-font-size;
         font-weight: $heading-font-weight;
         margin-bottom: $sm-spacing;
         user-select: none;


         span {
            font-size: $sm-font-size;
            user-select: none;
         }
      }

      .sub-heading {
         color: $dark;
         text-align: center;
         font-size: $md-font-size;
         font-weight: $heading-font-weight;
         margin-bottom: $sm-spacing;
         text-decoration: underline;
         user-select: none;
      }
      
      .list {
         text-align: center;
         margin-bottom: $md-spacing;
         span {
            display: inline-block;
            margin: 7px;     
            &:nth-child(even) {
               color: $accent-1;
            }
         }
      }

      p {
         margin-bottom: $md-spacing;
      }
   }
}