#blog-view {
   padding-top: $navbar-height;

   h1 {
      @extend .section-title;
   }

   h2 {
      @extend .heading;
   }

   h3 {
      @extend .sub-heading;
   }

   blockquote {
      background: rgba(red, $alpha: .40);
      color: rgba($dark, $alpha: .75);
      margin: 40px auto;
      padding: 15px 30px;
      border-left: 20px solid rgba($dark, $alpha: .85);
      text-align: center;
      font-size: 1.25em;

      quotes: "“" "”" "‘" "’";
      &::before {
         content: open-quote;
         color: #000;
         font-family: Georgia, serif;
      }
      &::after {
         content: close-quote;
         color: #000;
         font-family: Georgia, serif;
      }
   }

   code {
      text-shadow: none;
      font-family: 'source code pro';
      font-size: $sm-font-size;
   }

   ul {
      // background: chartreuse;
      list-style-position: inside;
   }
   
   ol {
      // background: yellow;
      list-style-position: inside;
   }

   img {
      width: 100px;
      transform: rotateZ(90deg);
   }
}