#portfolio {
   padding-top: $navbar-height;

   section {
      padding-top: $navbar-height;
      border-bottom: 1px solid #000;
   }

   .heading {
      // user-select: none;
      cursor: pointer;
   }

   .section-title {
      border-bottom: 1px solid $dark;
      padding-bottom: 35px;
   }

   .content {
      opacity: 0;
      height: 0;
      visibility: hidden;
      padding-bottom: 30px;
   }

   .up-arrow {
      margin-right: 15%;
      text-align: end;
   }
}