#services {
   background-color: transparent;
   color: $light;
   text-shadow: 4px 33px 15px $dark;
   padding-top: 120px;

   section {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100svh;
      width: 100%;
      padding-top: 50px;

      &:first-child {
         padding-top: 0;
      }
   
      h3 {
         margin-top: 50px;
         text-align: center;
         color: $dark;
      }
      
      p {
         margin: 35px auto;
         
         &:last-child {
            margin-bottom: 0px;
         }
         
         &:nth-child(odd) {
            text-align: end;
         }
      }
      
      h4 {
         text-align: center;
         font-size: 1.1em;
         font-weight: 400;
         margin-top: 30px;
         color: $dark;
      }
      
      ul {
         list-style: none;
         line-height: 2.2em;
         text-align: center;
         margin-top: 20px;
      }
   }

   .service-title {
      font-size: 1.3em;
      font-weight: 400;
      margin-bottom: 0px;
      color: $dark;
      text-align: center;
      text-decoration: underline;
   }
}