@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

#app-container {
  font-family: poppins;
  font-size: 21px;
  font-weight: 300;
  color: #010101;
  background: #fd6602;
}
#app-container #app-bg {
  position: fixed;
  width: 100%;
  height: 100svh;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  color: rgba(255, 115, 0, 0.7);
  text-shadow: none;
  text-wrap: nowrap;
  font-size: 13em;
}
#app-container #app-bg h1 {
  position: relative;
  top: -25%;
  padding: 0;
  margin: 0;
  height: 0;
}
#app-container #app-bg h1:nth-child(1) {
  transform: translateX(-10%);
}
#app-container #app-bg h1:nth-child(2) {
  transform: translateX(-30%);
}
#app-container #app-bg h1:nth-child(3) {
  transform: translateX(-40%);
}
#app-container #app-bg h1:nth-child(4) {
  transform: translateX(0%);
}
#app-container main, #app-container footer {
  position: relative;
  text-shadow: 4px 14px 15px #010101;
  line-height: 1.8em;
  letter-spacing: 0.5px;
  background: transparent;
  padding: 0px 15px;
}
#app-container main .section-title, #app-container footer .section-title {
  color: #fff500;
  font-size: 36.855px;
  font-weight: 400;
  margin-bottom: 35px;
  text-align: center;
  user-select: none;
}
#app-container main .heading, #app-container footer .heading {
  color: #f5f5f5;
  text-align: center;
  font-size: 28.35px;
  font-weight: 500;
  margin-bottom: 20px;
  user-select: none;
}
#app-container main .heading span, #app-container footer .heading span {
  font-size: 15px;
  user-select: none;
}
#app-container main .sub-heading, #app-container footer .sub-heading {
  color: #010101;
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 20px;
  text-decoration: underline;
  user-select: none;
}
#app-container main .list, #app-container footer .list {
  text-align: center;
  margin-bottom: 35px;
}
#app-container main .list span, #app-container footer .list span {
  display: inline-block;
  margin: 7px;
}
#app-container main .list span:nth-child(even), #app-container footer .list span:nth-child(even) {
  color: #fff500;
}
#app-container main p, #app-container footer p {
  margin-bottom: 35px;
}

#navbar {
  width: 100%;
  height: 70px;
  padding: 10px 20px;
  background-color: #010101;
  display: flex;
  align-items: center;
  justify-content: end;
  position: fixed;
  top: 0px;
  z-index: 6;
}

#some-div {
  overflow: hidden;
  height: 70px;
}

#logo-container {
  display: none;
}
@media (min-width: 720px) {
  #logo-container {
    display: block;
    height: 100%;
    flex-grow: 1;
  }
}

#brain-logo {
  height: 100%;
}
#brain-logo path {
  fill: #ff7300;
}

#navbar-title {
  margin-right: 20px;
  color: transparent;
  background: linear-gradient(225deg, #ff7300, #fff500);
  background-clip: text;
  -webkit-background-clip: text;
}

#menu-icon {
  height: 100%;
  cursor: pointer;
}

#menu-wrapper {
  position: absolute;
  top: 100%;
  left: -100%;
  width: 100%;
  height: 100svh;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 1, 1, 0.7);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
}

#menu {
  position: relative;
  top: -8%;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transform: rotateZ(90deg);
  gap: 18px;
  height: 0px;
  border-top: 1px solid #fff500;
  border-bottom: 1px solid #fff500;
  background: #fff500;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 720px) {
  #menu {
    width: 60%;
  }
}
#menu li {
  text-align: center;
  list-style: none;
  color: transparent;
  background: inherit;
  padding: 20px 80px;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#home section {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  padding-top: 70px;
}
#home #welcome {
  position: relative;
  padding-top: 0;
  width: 100svw;
  background-image: url("/public/bg-image.jpg");
  background-size: auto 100lvh;
  background-position: 25% 0%;
  background-repeat: no-repeat;
  z-index: 7;
}
#home #welcome #bg-image-filter {
  height: 100svh;
  width: 100%;
  left: 50px;
  background: rgba(1, 1, 1, 0.5);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}
#home #welcome #welcome-message {
  position: absolute;
  bottom: 15svh;
  color: #00C2FF;
  width: 100%;
  padding-left: 12px;
  margin: 0;
  line-height: 3.6em;
  text-transform: lowercase;
}
#home #welcome #welcome-message h1 {
  position: relative;
  padding-bottom: 7px;
  font-size: 100px;
  font-weight: 400;
  width: max-content;
  color: transparent;
  text-shadow: none;
  background-image: radial-gradient(circle 860px at 11.8% 33.5%, rgb(240, 30, 92), rgb(244, 49, 74), rgb(249, 75, 37), rgb(250, 88, 19), rgb(253, 102, 2));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px rgba(245, 245, 245, 0.15);
}
#home #welcome #welcome-message p {
  margin-bottom: 0;
  font-weight: 500;
  text-shadow: 0px 0px 15px #0ff, 0px 0px 25px #00f, 0px 0px 35px #0ff, 0px 0px 45px #00f, 0px 0px 55px #00f, 0px 0px 65px #00f, 0px 0px 75px #00f, 0px 0px 85px #00f, 0px 0px 95px #00f;
}
#home #welcome #welcome-contact-div {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: #010101;
}
#home #welcome #welcome-contact-div .welcome-contact-div-icons {
  width: auto;
  height: 40%;
}
#home #introduction h3 {
  text-align: center;
}
#home #latest-blogs #blogs {
  position: relative;
  overflow: scroll;
  -ms-overflow-style: none;
  background-color: transparent;
  display: flex;
  align-items: start;
  align-self: center;
  width: 100svw;
  height: 80svh;
}
#home #latest-blogs #blogs::-webkit-scrollbar {
  display: none;
}
#home #latest-blogs .blog {
  background-color: rgba(255, 0, 0, 0.35);
  height: 80%;
  width: 85%;
  margin-top: 35px;
  text-align: center;
  text-shadow: none;
  border-radius: 5px;
  padding: 50px 20px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  box-shadow: 0px 15px 45px 0px rgba(1, 1, 1, 0.7);
}
#home #latest-blogs .blog h1 {
  font-size: 1.2em;
  font-weight: 500;
  color: #f5f5f5;
  margin-bottom: 20px;
}
#home #latest-blogs .blog-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  width: 100%;
}
#home #latest-blogs .blog-container:nth-child(1) {
  right: 0%;
}
#home #latest-blogs .blog-container:nth-child(2) {
  right: -100%;
}
#home #latest-blogs .blog-container:nth-child(3) {
  right: -200%;
}
#home #services .service {
  margin-bottom: 35px;
}

#services {
  padding-top: 101.5px;
}
#services section ul {
  margin-bottom: 40px;
}

#portfolio {
  padding-top: 70px;
}
#portfolio section {
  padding-top: 70px;
  border-bottom: 1px solid #000;
}
#portfolio .heading {
  cursor: pointer;
}
#portfolio .section-title {
  border-bottom: 1px solid #010101;
  padding-bottom: 35px;
}
#portfolio .content {
  opacity: 0;
  height: 0;
  visibility: hidden;
  padding-bottom: 30px;
}
#portfolio .up-arrow {
  margin-right: 15%;
  text-align: end;
}

#about-me {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about-me #profile {
  position: relative;
}
#about-me #profile #muano {
  position: relative;
  width: 100svw;
}
#about-me #profile #names {
  position: absolute;
  font-size: 73.71px;
  font-weight: 500;
  line-height: 1.44em;
  padding-left: 10px;
  bottom: 5%;
  color: transparent;
  background: linear-gradient(270deg, #fd6602, red);
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: none;
}
#about-me #profile #quote {
  position: absolute;
  width: 100%;
  text-align: end;
  font-size: 22.68px;
  font-weight: 500;
  line-height: 1.44em;
  padding-right: 10px;
  top: 5%;
  color: transparent;
  background: rgba(1, 1, 1, 0.3);
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: none;
}
#about-me #bio {
  padding-top: 70px;
}
#about-me #bio #qoutes p {
  color: #f5f5f5;
  font-weight: 500;
}